/*Estilos da página index.html*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(170, 238, 211);

}
.center {
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: center;
    background: #ffffff40;
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur( 4px );
    overflow: hidden;
}

#menu li {
    display: inline;
    padding: 20px;
}
#menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}
#menu li a:hover {
    color:grey;
}
.p-30 {
    padding: 50px;
}
.br-50 {
    border-radius: 50%;
}
.wh-300 {
    width: 300px;
    height: 300px;
    }

.tm-social {
    width: 50px;
    height: 50px;
    
}

.mb-50{
    margin-bottom: 50px;
}

/*Estilo da página contato.html*/

.ml-50{
    margin-left: 50px;
}