/*Estilos da página index.html*/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(170, 238, 211);

}
.center {
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width:100%;
    background: #ffffff40;
    box-shadow: 0 8px 32px 0 #1f26875e;
    backdrop-filter: blur( 4px  );
    overflow: hidden;
}

#menu li {
    display: inline;
    padding: 20px;
    text-decoration: none;
}
#menu li a {
    text-decoration: none;
    color:aquamarine;
    font-size: 20px;
}

#menu li a:hover {
    color:grey;
}
.p-20 {
    padding: 20px;
}
.br-50 {
    border-radius: 50%;
}
.img-small{
    width: 100%;
    height:auto ;
}
.wh-300 {
    width: 150px;
    height: 150px;
    }

.tm-social {
    width: 10px;
    height: 10px;
    
}
.cor-txt{
    color: aquamarine;
}

.mb-50{
    margin-bottom: 50px;
}

/*Estilo da página contato.html*/

.ml-50{
    margin-left: 50px;
}
.w-75{
    width:75%;
}